@model Restaurant_WebApp.Models.ContactUs

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ContactUs</h4>
<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
