@model List<Restaurant_WebApp.Models.FoodItem>

@if (Model.Count > 0)
{
    <div class="row menu-container">
        @foreach (var foodItem in Model)
        {
            <div class="col-lg-6 menu-item filter-@(foodItem.Category.Name.ToLower().Replace(" ", "-"))">
                <img src="~/Files/@foodItem.ImageUrl" class="menu-img" alt="Food Image">
                <div class="menu-content">
                    <a href="#">@foodItem.FoodName</a><span>@foodItem.FoodPrice</span>
                </div>
                <div class="menu-ingredients">
                    @foodItem.FoodDescription
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No food items available.</p>
}
