
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex align-items-center">
       
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <i class="bi bi-person"></i> Hello @User.Identity?.Name! &nbsp
            </a>

        <a href="javascript:void(0);" class="nav-link text-dark" id="logoutLink">
            <i class="bi bi-box-arrow-right"></i> Logout &nbsp
        </a>

        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" style="display:none;">
            <input type="submit" />
        </form>
       
    </div>
}
else
{
    <div class="d-flex align-items-center">

        <a class="nav-link  me-4" asp-area="Identity" asp-page="/Account/Register">
                <i class="bi bi-person-plus"></i> Register
            </a>

        <a class="nav-link ms-1" asp-area="Identity" asp-page="/Account/Login">
                <i class="bi bi-box-arrow-in-right"></i> Login
            </a>
        
    </div>
}

<script>
    document.getElementById('logoutLink').addEventListener('click', function (event) {
        event.preventDefault();
        document.getElementById('logoutForm').submit();
    });
</script>