@model IEnumerable<Restaurant_WebApp.Models.TableBooking>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}


<!-- Your customer view content goes here -->
<h1>Welcome to My Restaurant</h1>
<p>Enjoy our delicious food and great ambiance!</p>

<p>Enjoy our delicious food and great ambiance!</p>


