
<!DOCTYPE html>

<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/Admin/site.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>


<body>

    <div class="container">

        <div class="sidebar" id="sidebar">

            <ul>

                <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a></li>

                @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))

                {
                    <li><a href="#"><i class="fas fa-users"></i> Manage Users</a></li>
                    <li><a href="#"><i class="fas fa-cogs"></i> Settings</a></li>
                }

                @if ((User.Identity.IsAuthenticated && User.IsInRole("employee")))

                {
                    <li><a href="#"><i class="fas fa-chart-line"></i> Reports</a></li>
                }
                else
                {
                    <li><a href="#"><i class="fas fa-info-circle"></i> Help</a></li>
                }

               

            </ul>
            <partial name="_LoginPartial" />

        </div>

        <div class="content" id="content">

            @RenderBody()

        </div>

    </div>

    <button class="sidebar-toggler" id="sidebarToggle"><i class="fas fa-bars"></i></button>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        $(document).ready(function () {
            $('#sidebarToggle').click(function () {
                $('#sidebar').toggleClass('show');
                $('#content').toggleClass('show');
            });
        });
    </script>

</body>

</html>
