@model Restaurant_WebApp.ViewModels.MenuViewModel

<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Menu</h2>
            <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12 d-flex justify-content-center">
                <select id="categoryFilter">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>

<div id="foodItemsList">
    @Html.Partial("_FoodItemsPartial", Model.FoodItems)
</div>
</div>
</section>

<script>
    document.getElementById('categoryFilter').addEventListener('change', function () {
        var categoryId = this.value;
        fetch('/Menu/FilterByCategory?categoryId=' + categoryId)
            .then(response => response.text())
            .then(html => {
                document.getElementById('foodItemsList').innerHTML = html;
            });
    });
</script>