<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

 
    <div>
        @RenderBody()
    </div>


    <nav id="navbar" class="navbar order-last order-lg-0">
        <a asp-page="/Index">Home</a>
    </nav>


    @await RenderSectionAsync("Scripts", required: false)
</body>

<p>This is admin layout</p>
</html>


